body{
    font-family: 'EB Garamond', serif;
}
.banner{
    height: 550px;
    background-image: url(/images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.gradint{
    background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
    border: 1px solid #E7E7E7;
}
.carousel-bg{
    background-color: rgba(17, 17, 17, 0.8);
    border-radius: 8px;
}